- service: slack
  secret: github-secret
  token: slack-token
  port: 8080
  watchers:
    - baoist
  public:
    - hearthstone
  author:
    name: Software for Good
    link: https://github.com/softwareforgood
    icon: http://softwareforgood.com/wp-content/themes/sfg4/favicon.png?v=2
